# True in development, False in production
DEBUG=True

FLASK_APP=run.py
FLASK_ENV=development
AUTH0_DOMAIN=AUTH0_DOMAIN
AUTH0_CLIENT_ID=AUTH0_CLIENT_ID
AUTH0_SECRET=AUTH0_SECRET
CHAT_ENDPOINT_URL=http://chat-ms-service:5000
APP_SECRET_KEY=APP_SECRET_KEY
# If not provided, a random one is generated 
# SECRET_KEY=<YOUR_SUPER_KEY_HERE>

# Used for CDN (in production)
# No Slash at the end
ASSETS_ROOT=/static/assets

# If DB credentials (if NOT provided, or wrong values SQLite is used) 
# DB_ENGINE=mysql
# DB_HOST=localhost
# DB_NAME=appseed_db
# DB_USERNAME=appseed_db_usr
# DB_PASS=pass
# DB_PORT=3306
